<!DOCTYPE html>
<html>
  <head>
    <title>RankingDeGastos</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead">
        <div class="inner">
          <a class="nav-link" href="/">
            <h3 class="masthead-brand text-white font-weight-bold">CEAP SC</h3>
          </a>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="/deputies">Parlamentares</a>
          </nav>
        </div>
      </header>
      
      <div class="container">
        <main role="main" class="inner cover mt-5">
          <%= yield %>
        </main>
      </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  </body>
</html>
